@mixin text-style-14() {
  font-size: $font-size-14;
  letter-spacing: $letter-spacing-14;
  line-height: $line-height-14;
}

@mixin text-style-16() {
  font-size: $font-size-16;
  letter-spacing: $letter-spacing-16;
  line-height: $line-height-16;
}

@mixin text-style-18() {
  font-size: $font-size-18;
  letter-spacing: $letter-spacing-18;
  line-height: $line-height-18;
}

@mixin text-style-20() {
  font-size: $font-size-20;
  letter-spacing: $letter-spacing-20;
  line-height: $line-height-20;
}

@mixin text-style-7vw() {
  font-size: $font-size-7vw;
  letter-spacing: $letter-spacing-7vw;
  line-height: $line-height-7vw;
}

@mixin text-style($size, $color: false) {
  @if ($size == 14) {
    @include text-style-14;
  }
  @if ($size == 16) {
    @include text-style-16;
  }
  @if ($size == 18) {
    @include text-style-18;
  }
  @if ($size == 20) {
    @include text-style-20;
  }
  @if ($size == 7vw) {
    @include text-style-7vw;
  }

  @if (type-of($color) == color) {
    color: $color;
  }
}
