.container {
  margin: 0 auto;
  padding: 0 $margin;
  width: 100%;

  .row {
    display: flex;
    flex-wrap: wrap;
  }

  @for $i from 1 through $sm-columns {
    .col-sm-#{$i} {
      width: percentage($i / $sm-columns);
    }
  }

  @include responsive(T) {
    @for $i from 1 through $md-columns {
      .col-md-#{$i} {
        width: percentage($i / $md-columns);
      }
    }
  }
}