$font-point: 'Montserrat-Black';
$font-text: 'IBM-Regular';

$font-size-20 : 20px;
$line-height-20 : 1.4;
$letter-spacing-20 : -0.01em;

$font-size-7vw : 7vw;
$line-height-7vw : 1.8;
$letter-spacing-7vw : -0.01em;